
*{
    font-family: 'Montserrat', sans-serif;
}

@keyframes pulse {
    from { transform: scale(1); }
    to { transform: scale(1.2); }
}


ul{
    padding-left: 0;
    text-align: center;
}
li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    padding: 7px;
    animation: pulse 2s infinite ease-in-out alternate;
}

body{
    background: black;
    height: 100vh;
    overflow: hidden;

}
.text{
    padding-top: 250px;
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}
.contacts{
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

p{
    color: white;
}

.text p{
    font-size: 50px;
}

.contacts p{
    font-size: 30px;
}